.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  display: block;
  min-width: 320px;
  max-width: 480px;
  padding: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  display: inline-block;
  width: auto;
  padding: 0;
  background: none;
  color: #646464;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

.modal-close:hover {
  background: none;
  color: #000000;
}